* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1em;
}

body {
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  min-height: 100vh;
}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
  gap: 0.4rem;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagram-phone img {
  height: 50rem;
}

.instagram-logo {
  height: 3rem;
}

.photo-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.photo-profile img {
  height: 6rem;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
  border-radius: 0.4%;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.app-download {
  display: flex;
  justify-content: center;
}

.app-download img {
  height: 3rem;
}

.instagram-login {
  background-color: #0095f6;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-blue {
  color: #0095f6;
}

.get-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.app-download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.download:nth-child(1) {
  background-image: url("./img/app-store-badge.png");
}

.download:nth-child(2) {
  background-image: url("./img/google-play.png");
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }

  .group {
    border: 1px solid transparent;
  }

  .instagram-wrapper {
    width: 90%;
  }

  .instagram-phone {
    display: none;
  }

  .instagram-continue {
    width: 100%;
  }
}
